@import '@/styles/variables.module';
html,
body {
  padding: 0;
  margin: 0;
  @include fontSet;
  @include base;

}
section,main,h1,h2,h3,h4,h5 {
padding: 0;
margin: 0;
}
a {
  @include fontSet {
    word-wrap: break-word;
  }
}
h1,h2,h3,h4,h5
* {
  box-sizing: border-box;
}
