@import '@/styles/variables.module';
html,
body {
  padding: 0;
  margin: 0;
  @include fontSet;
  @include base;

}
section,main {
padding: 0;
margin: 0;
}
a {
  @include fontSet {
    word-wrap: break-word;
  }
}

* {
  box-sizing: border-box;
}
