/*
 * @Date: 1985-10-26 16:15:00
 * @LastEditors: M.re c1029mq@qq.com
 * @LastEditTime: 2022-09-02 17:14:44
 * @FilePath: /uuspy-website-node/styles/Home.module.scss
 */
@import '@/styles/variables.module';
@import '@/components/layout/layout.module.scss';
.main {
 
  min-height: 100vh;
}
#{pc('.container')} {
  padding: 0;
  padding-top: 70px;
}
#{m('.container')} {
  padding: 10px;
  padding-top: mz(70px);
}
.a_link {
  @include fontSet;
  color: $primary-color;
}
.h1_title {
  @include fontSet(36px);
}
